.logo {
    float: left;
    width: 150px;
    height: 82px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}