* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.detail #block-6 {
    position: relative;
    margin-bottom: 100px;
    font-size: 0;
    background-size: 2496px 910px;
    background-image: url(../img/06-1.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    overflow: hidden;
}
.detail #block-6 .shop {
    margin: 180px auto;
    color: #fff;
    text-align: center;
}
.detail #block-6 .shop__logo {
    margin: 0 auto 10px;
    width: 246px;
}
.detail #block-6 .shop__text {
    margin-bottom: 20px;
    font-size: 14px;
}
.btn--border-white {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.btn {
    display: inline-block;
    width: 130px;
    cursor: pointer;
    font-size: 12px;
    line-height: 34px;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
    background: transparent;
    outline: none;
}
.btn--border-white {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.page-header--cart .title {
    float: left;
    margin: 0 12.5%;
    padding: 14px 0;
    width: 35%;
    text-align: center;
}
.page-header--cart .title .page-title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 32px;
}
.page-header--cart .title .user-info {
    font-size: 12px;
    line-height: 1.5;
}
.page-header--cart .title .user-info .red {
    color: #d2003c;
    text-decoration: underline;
}
.page-header--cart .help {
    float: left;
    padding: 6px 0 4px;
    width: 20%;
    text-align: right;
}
.page-header--cart .help .text {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 20px;
}
.page-header--cart .help .phone {
    display: block;
    font-size: 24px;
    line-height: 32px;
}
.page-header--cart .help .ps {
    color: #676767;
    font-size: 12px;
    line-height: 18px;
}
/*.page-header .main-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/
/*.page-header .mini-header {
    display: none;
}*/
#page-cart .container {
    zoom: 1;
    position: relative;
    margin-top: 50px;
    max-width: 936px;
}
#page-cart .cart-wrapper {
    margin-top: 30px;
    padding-right: 300px;
    width: 100%;
}
#page-cart .helper-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 30px;
    padding: 30px 20px 20px;
    width: 270px;
    font-size: 12px;
    border: 1px solid #e9e9e9;
}
#page-cart .cart-wrapper .brand:last-child {
    margin-bottom: 0;
}
#page-cart .cart-wrapper .brand {
    margin-bottom: 68px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
#page-cart .cart-wrapper .brand__title {
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 8px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    background-color: #000;
}
#page-cart .cart-wrapper .item:last-child {
    margin-bottom: 0;
}
#page-cart .cart-wrapper .item {
    zoom: 1;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
}
#page-cart .cart-wrapper .item .img {
    position: relative;
    width: 120px;
    height: 160px;
    float: left;
}
#page-cart .cart-wrapper .item .info {
    margin-left: 30px;
    max-width: 250px;
    float: left;
}
#page-cart .cart-wrapper .item .extra {
    float: right;
    text-align: right;
    padding-top: 5px;
}
#page-cart .cart-wrapper .item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#page-cart .cart-wrapper .item .extra .action {
    color: #676767;
    font-size: 0;
}
#page-cart .cart-wrapper .item .extra .numpicker {
    position: absolute;
    bottom: 40px;
    left: 150px;
}
.numpicker .picker-minus.disabled, .numpicker .picker-plus.disabled {
    cursor: auto;
    color: #e0e0e0;
}
.numpicker div.picker-sum {
    width: 40%;
}
.numpicker .picker-sum {
    color: #333;
    font-size: 14px;
}
.numpicker div {
    float: left;
    width: 30%;
}
#page-cart .cart-wrapper .item .extra .total {
    font-weight: 700;
    margin-top: 102px;
    font-size: 18px;
    line-height: 24px;
}
#page-cart .gallery-wrapper {
    margin-top: 100px;
}
.layout-center {
    max-width: 936px;
    margin:0 auto;
}
.gallery-wrapper {
    margin-bottom: 35px;
}

.gallery-wrapper .gallery {
    margin: 0 auto;
    padding: 0 0 30px;
    max-width: 1170px;
    font-size: 0;
}
.gallery-wrapper .gallery__title {
    overflow: hidden;
}
.gallery-wrapper .gallery__text {
    position: relative;
    margin: 0 auto 20px;
    width: 300px;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 4px;
    background-color: #000;
}
.gallery-wrapper .gallery__text:after,.gallery-wrapper .gallery__text:before{
    position: absolute;
    top: 50%;
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #000;
}
.gallery-wrapper .gallery__text:before {
    left:-1000px;
}
.gallery-wrapper .gallery__item:nth-child(4n+2) {
    margin-left: -.85%;
}
.gallery-wrapper .gallery__item {
    display: inline-block;
    width: 24.78%;
    margin-right: .85%;
}
.gallery-wrapper .gallery__item:nth-child(4n+1) {
    margin-right: -.85%;
}
.goods {
    position: relative;
    margin-bottom: 35px;
    width: 100%;
    padding: 3.43%;
    color: #000;
    cursor: pointer;
    transition: box-shadow .3s ease-out;
}
.goods:hover {
     box-shadow: rgba(148,140,140,0.2 )0px 2px 2px,rgba(148,140,140,0.2 )0px 4px 4px,rgba(148,140,140,0.2 )0px 8px 8px,rgba(148,140,140,0.2 )0px 16px 16px,rgba(148,140,140,0.2 )0px 32px 32px,rgba(148,140,140,0.2 )0px 64px 64px;
}
.goods__img {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    outline: none;
    color: #333;
}
.goods__img--detail {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.43%;
    visibility: hidden;
}
.goods:hover .goods__img--detail {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.43%;
    visibility: visible;
}
.goods:hover .goods__img {
     visibility: hidden;
}
.goods__text {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.goods__name {
    margin: 5px 0 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods__text {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    display: block;
}
.goods:hover .goods__name{
	display: none;
}
.goods:hover .goods__brand{
	display: none;
}
.goods:hover .goods__sizes{
	display: block;
}
 .goods .goods__size:hover{
 	border-color:#d2003c;
 	color:#d2003c;
 }
.goods__sizes {
    display: none;
    margin: 8px 0 17px;
    min-height: 30px;
}
.goods__size {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    color: #979797;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #979797;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 2px;
}

.goods__price--special .discount, .goods__price--special .oldprice {
    display: inline-block;
}
.goods__price .oldprice {
    display: none;
    margin-left: 10px;
    color: #bbb;
    text-decoration: line-through;
}
.goods__price--special .discount, .goods__price--special .oldprice {
    display: inline-block;
}
.goods__price .discount {
    display: none;
    float: right;
}
#page-cart .helper-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 30px;
    padding: 30px 20px 20px;
    width: 270px;
    font-size: 12px;
    border: 1px solid #e9e9e9;
}
#page-cart .helper-wrapper .shop-info {
    color: #404040;
    font-size: 12px;
}
#modal-help .item, #page-cart .helper-wrapper .item {
    border-bottom: 1px solid #f4f4f4;
}
#page-cart{
	padding-top:110px;
}
#page-cart .cart-wrapper .item .info .name {
    display: -webkit-box;
    max-height: 48px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 18px;
    line-height: 24px;
}
#page-cart .cart-wrapper .item .info .option {
    margin: 10px 0;
    color: #676767;
    font-size: 12px;
    line-height: 1.5;
}
#page-cart .cart-wrapper .item .info .num {
    display: none;
}
#page-cart .cart-wrapper .item .info .money {
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
#page-cart .cart-wrapper .item .extra {
    float: right;
    text-align: right;
    padding-top: 5px;
}
#page-cart .cart-wrapper .item .info .option__item {
    margin-right: 8px;
}
#page-cart .cart-wrapper .item .info .money--old {
    color: #b2b2b2;
    display: inline-block;
    vertical-align: 0;
    margin-left: 10px;
}
#page-cart .cart-wrapper .item .extra .numpicker {
    position: absolute;
    bottom: 40px;
    left: 150px;
}
.numpicker {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.numpicker .picker-minus.disabled, .numpicker .picker-plus.disabled {
    cursor: auto;
    color: #e0e0e0;
}

.numpicker div.disabled {
    color: #a5a5a5;
}

.numpicker .picker-minus {
    border-right: 1px solid #ccc;
}

.numpicker .picker-minus, .numpicker .picker-plus {
    cursor: pointer;
    color: #999;
    font-size: 18px;
}

.numpicker div {
    float: left;
    width: 30%;
}
.numpicker .picker-minus, .numpicker .picker-plus {
    cursor: pointer;
    color: #999;
    font-size: 18px;
}
.numpicker .picker-plus {
    border-left: 1px solid #ccc;
}
#page-cart .cart-wrapper .item .extra .action {
    color: #676767;
    font-size: 0;
}
#page-cart .cart-wrapper .item .extra .action__item {
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    text-decoration: underline;
}
#page-cart .cart-wrapper .item .extra .addWishlist:after {
    margin-left: 10px;
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    vertical-align: -2px;
    background-color: #d6d6d6;
}
#page-cart .cart-wrapper .item .extra .action__item {
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    text-decoration: underline;
}
#page-cart .helper-wrapper .shop-info {
    color: #404040;
    font-size: 12px;
}
#page-cart .helper-wrapper .shop-info__title {
    padding-bottom: 10px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
}
#page-cart .helper-wrapper .shop-info__text-wrapper {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
#page-cart .helper-wrapper .shop-info__total {
    font-weight: 700;
    padding: 10px 0 42px;
    font-size: 14px;
    line-height: 24px;
}
#page-cart .helper-wrapper .shop-info__btn {
    width: 100%;
}

#page-cart .helper-wrapper .shop-info__link {
    display: block;
    margin: 20px auto;
    width: 70px;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: underline;
}


#page-cart .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box:after, .clearfix:after, .column:after, .container:after, .wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#page-cart .helper-wrapper .shop-info__text {
    margin: 10px 0;
    line-height: 1.5;
}
#page-cart .helper-wrapper .shop-info__text-num {
    float: right;
}
#page-cart .helper-wrapper .shop-info__total .shop-info__text-num {
    font-size: 18px;
    text-align: right;
}
#page-cart .helper-wrapper .shop-info__text-num {
    float: right;
}
#page-cart .helper-wrapper .shop-info__save {
    float: right;
    margin-top: 4px;
    color: #666;
    font-size: 12px;
    line-height: 18px;
}
.hide, .visible-inline-xs, canvas {
    display: none;
}
#modal-help .item__title.active:after, #page-cart .helper-wrapper .item__title.active:after {
    content: "-";
}
#modal-help .item__content, #page-cart .helper-wrapper .item__content {
    display: block;
    padding: 10px 0;
    color: #999;
    line-height: 1.5;
    border-top: 1px solid #f4f4f4;
}
#modal-help .item__title, #page-cart .helper-wrapper .item__title {
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}
#modal-help .item__title:after, #page-cart .helper-wrapper .item__title:after {
    display: inline-block;
    content: "+";
    float: right;
    color: #999;
    font-size: 12px;
}
.modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0,0,0,.5);
    display: none;
}
.modal-wrap .modal-inner {
    position: relative;
    background: #fff;
    width: 500px;
    margin: 0 auto;
    padding: 0 30px;
    top: 20%;
}
.icon-close {
    background-position: -44px -42px;
    width: 13px;
    height: 13px;
}
.icon-close, .icon-correct2 {
    background-image: url();
    display: inline-block;
}
.modal-wrap .modal-inner .modal-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.modal-wrap .modal-inner .vip-modal-content {
    padding-top: 40px;
}
.modal-wrap .modal-inner .vip-modal-footer {
    padding: 50px 0 40px;
    text-align: center;
}
.btn--black {
    color: #fff;
    border-color: #000;
    background-color: #000;
}
.btn--border-black {
    color: #000;
    border-color: #000;
    background-color: transparent;
}
.modal-wrap .modal-inner .vip-modal-content .vip-modal-header {
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    color: #404040;
    text-align: center;
}
