.product-wrapper {
    padding-bottom: 140px;
}
.product-wrapper .product-nav {
    margin-bottom: 35px;
    font-size: 0;
    text-align: center;
}
.product-wrapper .product-nav__item:first-child, .product-wrapper .product-nav__item:last-child {
    margin: 0 15px;
    width: 90px;
}
.product-wrapper .product-nav__item {
    margin: 0 5px;
    display: inline-block;
    width: 38px;
    cursor: pointer;
    line-height: 38px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.product-wrapper .product-nav__item, .product-wrapper .product-nav__more {
    font-size: 14px;
}
.btn--border-black--disabled, .btn--border-black--disabled:hover, .btn--border-black[disabled=disabled], .btn--border-black[disabled=disabled]:hover {
    cursor: default;
    color: #ccc;
    border-color: #ccc;
    background-color: transparent;
}
.product-wrapper .product-filter__sort-item .product-filter__list-item {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 5px;
}
.btn--border-black {
    color: #000;
    border-color: #000;
    background-color: transparent;
}
.btn--border-black--active, .btn--border-black--active:hover, .btn--border-black:active {
    color: #fff;
    border-color: #000;
    background-color: #000;
}
.product-wrapper .product-filter {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.product-wrapper .product-filter__classify {
    border-bottom: 1px solid #ebebeb;
}

.product-wrapper .product-filter__classify, .product-wrapper .product-filter__filter {
    padding: 16px 0;
}
.product-wrapper .product-filter__item:first-child {
    padding-left: 0;
}

.product-wrapper .product-filter__classify-brand {
    color: #999;
    cursor: auto;
}

.product-wrapper .product-filter__item {
    position: relative;
    display: inline-block;
    margin: 3px 0;
    padding: 0 30px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-right: 1px solid #000;
}
.product-wrapper .product-filter__content {
    margin-right: 10px;
}
.icon-select {
    width: 7px;
    height: 10px;
    background-image: url(../img/123.png);
}
.icon {
    display: inline-block;
    vertical-align: -1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.product-wrapper .product-filter__list {
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 5;
    display: none;
    transition: height .2s ease-in-out;
}
.product-wrapper .product-filter__list-item:first-child {
    border-top-color: #ddd;
}
.product-wrapper .product-filter__list-item:last-child {
    border-bottom-color: #ddd;
}
.product-wrapper .product-filter__list-item:hover{
    background-color: #ddd;
}
.icon .icon-select:hover{
    product-filter__list
}
.product-wrapper .product-filter__list-item {
    font-size: 12px;
    text-align: center;
    line-height: 1.8;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-bottom-color: #f1f1f1;
    background-color: #fff;
}
.product-wrapper .product-filter__attr {
    display: inline-block;
    color: #999;
}
.product-wrapper .product-filter__sort {
    float: right;
}
[c-show] {
    display: none;
}
.product-wrapper .product-filter__item:first-child {
    padding-left: 0;
}
.product-wrapper .product-filter__item {
    position: relative;
    display: inline-block;
    margin: 3px 0;
    padding: 0 30px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-right: 1px solid #000;
}
.icon {
    display: inline-block;
    vertical-align: -1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.product-wrapper .product-filter__sort-title {
    color: #999;
    border-right: 1px solid #999;
}
.product-wrapper .product-filter__sort-item {
    padding-left: 20px;
    padding-right: 0;
    font-size: 12px;
    line-height: 12px;
    border-right: 0;
}
.product-wrapper .product-filter__content {
    margin-right: 10px;
}
.product-wrapper .product-filter__sort-item .product-filter__list {
    right: 0;
    left: auto;
    width: auto;
    min-width: 100%;
}