@charset "utf-8";
/*css document*/
body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input,figure{
	margin:0;
	padding:0;
}
ul,ol{
	list-style: none;
}
a {
    text-decoration: none;
    outline: none;
    color: #333;
}
fieldset, img {
    border: 0;
}

img {
    width: 100%;
    line-height: 0;
    vertical-align: middle;
    -webkit-touch-callout: none;
    border-style: none;
}
.products{
    margin-top:110px;
}
.page-header{
	background: #fff;
	position: fixed;
	width:100%;
	top:0;
	z-index: 100;
    box-shadow: 0 1px 1px #eee;
}
.page-header .main-nav {
    zoom: 1;
    position: relative;
    padding: 14px 0;
    width: 1170px;
    margin: 0 auto;
    transition: all .3s ease;
    overflow: hidden;
}
.page-header .main-nav .logo{
	float: left;
    width: 150px;
    height: 82px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.page-header.min .main-nav .logo {
    width: 120px;
    height: 66px;
    background-image: url(../img/logo-small.png);
}
.page-header .main-nav .nav {
    float: right;
    width: 80%;
}
.page-header .main-nav .nav .vice {
    zoom: 1;
    float: right;
    font-size: 12px;
    color: #686868;
    margin-top: 5px;
    transition: all .3s ease;
    display: none;
}
.page-header .main-nav .nav .vice li {
    position: relative;
    float: left;
    font-size: 12px;
}
.page-header .main-nav .nav .vice li span {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background-color: #aaa;
    margin: 0 10px;
}
.page-header .main-nav .nav .vice a {
    color: #686868;
}
.page-header .main-nav .nav .vice .customer-service-modal {
    position: absolute;
    top: -10000px;
    right: 0;
    z-index: 10;
    margin-top: 8px;
    padding: 40px 50px;
    width: 250px;
    opacity: 0;
    background-color: #fff;
    transition: opacity .3s ease-in-out;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
}
.page-header .main-nav .nav .vice .customer-service-modal .text {
    font-size: 14px;
    line-height: 20px;
}
.page-header .main-nav .nav .vice .customer-service-modal .phone {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.page-header .main-nav .nav .vice:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.page-header .main-nav .nav .main {
    font-size: 14px;
    margin-top: 54px;
    text-align: center;
    zoom: 1;
}
.page-header .main-nav .nav .main .categories {
    position: absolute;
    left: 15%;
    width: 70%;
    text-align: center;
}
.page-header .main-nav  .main .categories li {
    display: inline-block;
    margin: 0;
    padding: 0 30px 28px;
    float: none;
    color: #686868;
}
.page-header .main-nav .nav .main .categories li:hover a{
   color: #c52f47;
}
.page-header .category-panel__wrapper {
    background-color: #fff;
}
.page-header .category-panel__item {
    display: inline-block;
    margin: 20px 4.61% 50px;
    vertical-align: top;
}
.page-header .category-panel__child, .page-header .category-panel__title {
    margin-bottom: 20px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.page-header .category-panel__item:first-child {
    margin-left: 0;
}
.page-header .main-nav .nav .main .categories li {
    display: inline-block;
    margin: 0;
    padding: 0 30px 28px;
    float: none;
}
.page-header .main-nav .nav .main ul li a {
    color: #686868;
}
.page-header .main-nav .nav .main .extra {
    float: right;
    margin-right: 0;
}
.page-header .main-nav .nav .main .extra .icon.icon-search {
    background-image: url(../img/icon-search.png);
    background-position: 0;
    background-size: 14px 14px;
    padding:  0 2px 0 0;
    width: 0;
    transition: all 1s;
    cursor: pointer;
    height: 14px;
    padding-left:15px;
    float:left;
}
.extra a{
    float:left;
}
.page-header .main-nav .nav .main .extra .icon .icon-search .active {
    width: 124px;
    
}

/*.page-header .search-panel {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 110px;
    background: rgba(0,0,0,.5);
}*/
.page-header .main-nav .nav .main .extra .icon-cart-wrapper {
    color: #c52f47;
    vertical-align: -1px;
}
.page-header .main-nav .nav .main .extra .icon.icon-like {
    background-image: url(../img/icon-like.png);
    height: 12px;
    width:14px;
    padding:  0 14px;
}
.page-header .main-nav .nav .main .extra .icon.icon-cart {
    background-image: url(../img/icon-cart.png);
    height: 14px;
    width:14px;
    padding:  0 14px;
}
.page-header .category-panel {
    position: fixed;
    left: 0;
    top: 110px;
    z-index: 10;
    width: 100%;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    display: block;
}
.page-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.index {
    margin-top:93px;
}
.index .page-home {
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
}
.index .page-home .img-bg {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    position: absolute;
    z-index: 0;
    transition: all .3s cubic-bezier(.15,.79,.54,.74);
}
.index .page-home .inner {
    position: absolute;
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 50%;
}
.index .page-home .inner h2 {
    font-size: 14px;
    margin-bottom: 21px;
    letter-spacing: 10px;
    font-weight: 100;
}
.index .page-home .inner h1 {
    font-size: 36px;
    margin-bottom: 16px;
    letter-spacing: 3.6px;
    font-weight: 100;
}
.index .page-home .inner p {
    font-size: 16px;
    letter-spacing: .5px;
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}
.index .page-home .arrow-down {
    position: absolute;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: url(../img/icon-arrow-down.png) no-repeat;
    background-size: 30px 16px;
    background-position: 50%;
    bottom: 50px;
    display: inline-block;
    cursor: pointer;
}
.index #block-3 {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.index #block-3 .swiper-wrapper{
	font-size: 0;
	line-height: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
     bottom: 10px; 
     left: 0; 
     width: 100%; 
}
.index #block-4 {
    position: relative;
    font-size: 0;
    background-color: #f3f3f3;
}
.index #block-4 .swiper-img {
    display: inline-block;
    width: 22%;
    padding: 0 14px 30px;
}
.index #block-4 .swiper-img img:hover {
    box-shadow: rgba(148,140,140,0.2 )0px 2px 2px,rgba(148,140,140,0.2 )0px 4px 4px,rgba(148,140,140,0.2 )0px 8px 8px,rgba(148,140,140,0.2 )0px 16px 16px,rgba(148,140,140,0.2 )0px 32px 32px,rgba(148,140,140,0.2 )0px 64px 64px;
}
.index #block-4 .swiper-container--4-mb, .index #block-4 .swiper-container--4-pc {
    overflow: hidden;
}
.index #block-4 .block4-wrapper {
    width: 936px;
}
.index #block-4 .view-more {
    position: absolute;
    left: 50%;
    bottom: -30px;
    z-index: 1;
    width: 132px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    background-color: #f3f3f3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.index #block-4 .view-more div {
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    border-left: 0;
    border-bottom: 0;
    vertical-align: 2px;
    margin-right:40px;
    transform: rotate(135deg);
}
.index #block-4 .view-more.active:before {
    content: "收起";
}
.index #block-4 .view-more.active:after {
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.index #block-4 .swiper-container--4-pc {
    margin: 0 -15px;
}
.index #block-4 .swiper-container--4-mb, .index #block-4 .swiper-container--4-pc {
    overflow: hidden;
}
.index #block-4 .swiper-container--4-mb {
    display: none;
}
.index #block-4 .swiper-wrapper {
    padding: 30px 0 22px;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.index #block-4 .swiper-slide-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: opacity .2s ease-in-out;
}
.index #block-5 {
    padding: 80px 0 50px;
}
.topic-wrapper {
    margin: 0 -1.28%;
    font-size: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-container-horizontal .swiper-pagination {
    z-index: 6;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
}
.index #block-4 .swiper-wrapper {
    padding: 30px 0 22px;
}
.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.index #block-4 .swiper-wrapper {
    padding: 30px 0 22px;
}
.index #block-5 {
    padding-top: 64px;
}
.index #block-5 {
    padding: 80px 0 50px;
}
.topic-wrapper .topic--m {
    width: 47.5%;
}
.topic-wrapper .topic {
    position: relative;
    margin: 0 1.25% 2.5%;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.swiper-slide {
    position: relative;
}
.topic-wrapper .topic--m {
    width: 47.5%;
}
.img-with-shadow {
    transition: box-shadow .3s ease-out;
}
.topic-wrapper .topic--withdesc:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    cursor: pointer;
    background: linear-gradient(0deg,rgba(0,0,0,.2),transparent 37%);
}
.index #block-4 .block4-wrapper.active .swiper-slide-pagination {
    visibility: visible;
    opacity: 1;
}
#con{
    display: none;
}
.topic-wrapper {
    margin: 0 -1.28%;
    font-size: 0;
}
.topic-wrapper .topic--m {
    width: 47.5%;
}
.layout-center {
    max-width: 936px;
    margin:0 auto;
}
.index #block-4 .block4-wrapper {
    width: 936px;
    min-width: 0;
    margin:0 auto;
    display: block;
}
.topic-wrapper .topic__desc {
    position: absolute;
    right: 7%;
    bottom: 6.25%;
    left: 7%;
}
.topic-wrapper .topic__desc-text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
}
.topic-wrapper .topic__desc-title {
    font-size: 18px;
    line-height: 24px;
}
.topic-wrapper .topic {
    position: relative;
    margin: 0 1.25% 2.5%;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.topic-wrapper .topic:hover .btn{
    color: #fff;
    border-color: #d2003c;
    background-color: #d2003c;
}

.img-with-shadow {
    transition: box-shadow .3s ease-out;
}
.index #block-6 {
    position: relative;
    font-size: 0;
    background-image: url(../img/06-1.jpg);
    background-size: 1920px 1500px;
    background-repeat: no-repeat;
    background-position: center -252px;
    overflow: hidden;
}
.index #block-6 .shop {
    margin: 160px auto 300px;
    text-align: center;
}
.btn--border-black:hover {
    color: #555;
    border-color: #555;
    background-color: transparent;
}
.index #block-6 .logo-mail-wrapper {
    overflow: hidden;
}
.index #block-6 .shop__title {
    margin-bottom: 20px;
    font-size: 36px;
}
.index #block-6 .shop__text {
    margin-bottom: 30px;
    font-size: 14px;
}
.btn--border-black {
    color: #000;
    border-color: #000;
    background-color: transparent;
}
.index #block-6 .logo-mail-wrapper {
    overflow: hidden;
}
.index #block-6 .logo-wrapper {
    display: inline-block;
    margin-top: -3000px;
    padding: 3050px 0 50px;
    width: 61%;
    text-align: right;
    vertical-align: bottom;
    background-color: hsla(0,0%,100%,.9);
}
.index #block-6 .mail-wrapper {
    display: inline-block;
    margin-top: -3000px;
    padding: 3040px 0 40px;
    width: 39%;
    vertical-align: bottom;
    background-color: rgba(0,0,0,.8);
}
.index #block-6 .logo-wrapper .logo {
    display: inline-block;
    margin: 0 1.27%;
    padding: 25px 0;
    min-width: 170px;
    width: 14.46%;
    text-align: left;
}
.index #block-6 .logo-wrapper .logo__icon {
    display: inline-block;
    margin-right: 10px;
    width: 29.41%;
    max-width: 50px;
    vertical-align: middle;
}
.index #block-6 .logo-wrapper .logo__desc {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}
.index #block-6 .mail-wrapper {
    display: inline-block;
    margin-top: -3000px;
    padding: 3040px 0 40px;
    width: 39%;
    vertical-align: bottom;
    background-color: rgba(0,0,0,.8);
}
.index #block-6 .mail-wrapper .mail--hd {
    display: block;
}
.index #block-6 .mail-wrapper .mail__title {
    font-size: 14px;
    line-height: 20px;
}
.index #block-6 .mail-wrapper .mail__input {
    padding: 2px 6px;
    width: 288px;
    height: 36px;
    font-size: 12px;
    border: 0;
    border-radius: 2px;
    outline: 0;
}
.index #block-6 .mail-wrapper .mail__form .inp-ok {
    top: 6px;
    right: 56px;
}
.index #block-6 .mail-wrapper .mail__form .inp-error {
    bottom: 0;
    left: 0;
    background-color: transparent;
}
.index #block-6 .mail-wrapper .mail__confirm {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    line-height: 34px;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.index #block-6 .mail-wrapper .mail__text {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.index #block-6 .mail-wrapper .mail__check .inp-checkbox {
    display: inline-block;
    width: 24px;
}
.index #block-6 .mail-wrapper .mail__link {
    text-decoration: underline;
    color: hsla(0,0%,100%,.8);
}
.index #block-6 .mail-wrapper .mail__title {
    font-size: 14px;
    line-height: 20px;
}
.index #block-6 .mail-wrapper .mail--hd {
    display: block;
}
.index #block-6 .mail-wrapper .mail {
    margin-left: 46px;
}
.index #block-6 .mail-wrapper .mail__text {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.inp-group {
    position: relative;
}
.index #block-6 .mail-wrapper .mail__form {
    position: relative;
    display: inline-block;
    margin: 14px 0 0;
    padding-bottom: 25px;
    background-color: transparent;
}
.index #block-6 .mail-wrapper .mail__input {
    padding: 2px 6px;
    width: 288px;
    height: 36px;
    font-size: 12px;
    border: 0;
    border-radius: 2px;
    outline: 0;
}
body, button, input, select, textarea {
    font-family: PingFang SC,Helvetica,Microsoft Yahei,Arial,STHeiti-light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, input {
    overflow: visible;
}

.btn {
    display: inline-block;
    width: 130px;
    cursor: pointer;
    font-size: 12px;
    line-height: 34px;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
    background: transparent;
    outline: none;
}
.btn--red {
    color: #fff;
    border-color: #d2003c;
    background-color: #d2003c;
}
.index #block-6 .mail-wrapper .mail__confirm {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    line-height: 38px;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.mail__confirm .btn .btn--red {
    color: #fff;
    border-color: #d2003c;
    background-color: #d2003c;
}
.inp-group .inp-error {
    position: absolute;
    right: 0;
    bottom: 44px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    background: #d2003c;
    color: #fff;
    font-size: 12px;
}
.inp-group .inp-ok {
    position: absolute;
    z-index: 5;
    right: 8px;
    bottom: 8px;
    height: 24px;
    width: 24px;
    background: url(../img/icon-correct.png) no-repeat;
    background-size: 100% auto;
}
.index #block-6 .mail-wrapper .mail__text {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.index #block-6 .mail-wrapper .mail {
    margin-left: 46px;
}
.page-footer {
    border-top: 1px solid #eee;
}
.page-footer .footer-inner {
    zoom: 1;
    height: 320px;
    padding: 64px 0;
}
.page-footer .footer-left {
    width: 61%;
    float: left;
    font-size: 0;
    text-align: right;
}
.page-footer .footer-list {
    zoom: 1;
    display: inline-block;
    width: 16.22%;
    min-width: 176px;
    text-align: left;
    vertical-align: top;
}
.page-footer .footer-list:first-child {
    margin-right: 12px;
}
.page-footer .about {
    display: inline-block;
    margin-left: 19.21%;
    width: 15.37%;
    min-width: 126px;
    text-align: left;
    vertical-align: top;
}
.page-footer .footer-list .item {
    float: left;
    margin-right: 8%;
}
.page-footer .footer-list:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.page-footer .footer-inner h3 {
    font-size: 14px;
    color: #000;
}
.page-footer .footer-list .item p {
    font-size: 12px;
    color: #4c4c4c;
    margin-top: 20px;
}
.page-footer .footer-list .item p a {
    color: inherit;
}
.page-footer .intro {
    float: left;
    width: 39%;
    max-width: 350px;
    font-size: 12px;
}
.page-footer .footer-inner h3 {
    font-size: 14px;
    color: #000;
}
.page-footer .about div {
    margin-top: 20px;
}
.page-footer .about div .icon.icon-wechat {
    background-image: url(../img/icon-wechat.png);
    margin-right: 20px;
}

.page-footer .about div .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icon-wechat {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-image: url(../img/icon-wechat.png);
}
.icon {
    display: inline-block;
    vertical-align: -1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.page-footer .about div .icon.icon-wechat {
    background-image: url(../img/icon-wechat.png);
    margin-right: 20px;
}
.page-footer .about div .icon.icon-weibo {
    background-image: url(../img/icon-weibo.png);
}
.page-footer .about div .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.icon-weibo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../img/icon-weibo.png);
}
.page-footer .intro .desc {
    color: #4c4c4c;
    line-height: 150%;
    margin-top: 20px;
}
.page-footer .intro .desc p {
    margin-top: 10px;
}
.page-footer .intro .desc p span {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.page-footer .intro .copyright {
    margin-top: 50px;
    color: #4a4a4a;
}
#searchinp{
    border: 0;
    outline: none;
    font-size: 12px;
    height: 14px;
    float: left;
    width: 100px;
    display: block;
    color: #686868;
    float:left;
    /*border:1px solid #ccc;
*/}
